Django~=4.0.7
django-cors-headers~=3.13
django-csp~=3.7
django-elasticsearch-dsl~=7.2
django-elasticsearch-dsl-drf~=0.22
djangorestframework~=3.13
elasticsearch~=7.17
elasticsearch-dsl~=7.4
jsonschema~=4.7
psycopg2-binary~=2.9
PyYAML~=6.0
rac-schemas~=0.30
rac_es~=1.0
shortuuid~=1.0
uritemplate~=4.1
