Django==4.0.5
django-cors-headers==3.12.0
django-elasticsearch-dsl==7.2.2
django-elasticsearch-dsl-drf==0.22.4
djangorestframework==3.13.1
elasticsearch==7.17.0
elasticsearch-dsl==7.4.0
jsonschema==4.4.0
psycopg2-binary==2.9.3
PyYAML==6.0
rac-schemas==0.30
rac_es==0.18
shortuuid==1.0.9
uritemplate==4.1.1
